<!--
<div class="w-full space-y-8">
  <div class="text-center">
    <h2 class="mt-6 text-3xl font-bold text-gray-900">
      Join us now!
    </h2>
    <p class="mt-2 text-sm text-gray-500">Create your account with us</p>
  </div>
  <div class="mt-8 space-y-6">
    <input type="hidden" name="remember" value="true">
    <div class="relative">
      <label for="txtbxUsername" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">
        Name
      </label>

      <div class="relative">

        <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
          <div
            class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full">
            <svg viewBox="0 0 24 24" width="24" height="24" class="h-5 w-5">
              <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
              <circle cx="12" cy="7" r="4"></circle>
            </svg>
          </div>
        </div>

        <input id="txtbxUsername" name="txtbxUsername" type="text" placeholder="Username" value="" [(ngModel)]="username"
          class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12">

      </div>
    </div>
    <div class="mt-8 content-center">
      <label for="txtbxPassword" class="mb-1 text-xs sm:text-sm tracking-wide text-gray-600">
        Password
      </label>

      <div class="relative">

        <div class="absolute flex border border-transparent left-0 top-0 h-full w-10">
          <div
            class="flex items-center justify-center rounded-tl rounded-bl z-10 bg-gray-100 text-gray-600 text-lg h-full w-full">

            <svg viewBox="0 0 512 512" width="24" height="24"  class="text-gray-500 h-5 w-5">
              <path d="M336 352c97.2 0 176-78.8 176-176S433.2 0 336 0S160 78.8 160 176c0 18.7 2.9 36.8 8.3 53.7L7 391c-4.5 4.5-7 10.6-7 17v80c0 13.3 10.7 24 24 24h80c13.3 0 24-10.7 24-24V448h40c13.3 0 24-10.7 24-24V384h40c6.4 0 12.5-2.5 17-7l33.3-33.3c16.9 5.4 35 8.3 53.7 8.3zM376 96a40 40 0 1 1 0 80 40 40 0 1 1 0-80z"/>
            </svg>
          </div>
        </div>

        <input id="txtbxPassword" name="txtbxPassword" type="password" placeholder="Password" value="" [(ngModel)]="password"
          class="text-sm sm:text-base relative w-full border rounded placeholder-gray-400 focus:border-indigo-400 focus:outline-none py-2 pr-2 pl-12">

      </div>
    </div>
    <div class="mt-8 content-center">
      <label for="selectRole" class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400">Select a role</label>
      <select id="selectRole" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" [(ngModel)]="role" name="selectRole">
        <option selected value="Patient">Patient</option>
        <option value="Physician">Physician</option>
      </select>
    </div>
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <input id="remember_me" name="remember_me" type="checkbox"
          class="h-4 w-4 bg-blue-500 focus:ring-blue-400 border-gray-300 rounded">
        <label for="remember_me" class="ml-2 block text-sm text-gray-900">
          I Accept the Terms and Conditions
        </label>
      </div>
    </div>
    <div>
      <button (click)="onSubmit()"
        class="w-full flex justify-center bg-gradient-to-r from-indigo-500 to-blue-600  hover:bg-gradient-to-l hover:from-blue-500 hover:to-indigo-600 text-gray-100 p-4  rounded-full tracking-wide font-semibold  shadow-lg cursor-pointer transition ease-in duration-500">
        Sign up
      </button>
    </div>
    <p class="flex flex-col items-center justify-center mt-10 text-center text-md text-gray-500">
      <span>Already registered?</span>
      <a routerLink="/login"
        class="text-indigo-400 hover:text-blue-500 no-underline hover:underline cursor-pointer transition ease-in duration-300">Login now!</a>
    </p>
  </div>
</div> -->

  <div class="w-full">
      <h1 class="text-2xl font-semibold tracking-wider text-gray-800 capitalize dark:text-white">
          Get your free account now.
      </h1>

      <p class="mt-4 text-gray-500 dark:text-gray-400">
          Let’s get you all set up so you can verify your personal account and begin setting up your profile.
      </p>

      <div class="mt-6">
          <h1 class="text-gray-500 dark:text-gray-300">Select type of account</h1>

          <div class="mt-3 md:flex md:items-center md:-mx-2">

              <button [class]="getClinicButtonClass()" (click)="updateRole('Clinic')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>

                  <span class="mx-2">
                      Clinic
                  </span>
              </button>

              <button class=""[class]="getPhysicianButtonClass()" (click)="updateRole('Physician')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M21 13.255A23.931 23.931 0 0112 15c-3.183 0-6.22-.62-9-1.745M16 6V4a2 2 0 00-2-2h-4a2 2 0 00-2 2v2m4 6h.01M5 20h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                  </svg>

                  <span class="mx-2">
                      Physician
                  </span>
              </button>

              <button [class]="getPatientButtonClass()" (click)="updateRole('Patient')">
                  <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                  </svg>

                  <span class="mx-2">
                      Patient
                  </span>
              </button>
          </div>
      </div>

      <div class="grid grid-cols-1 gap-6 mt-8 md:grid-cols-2">

          <div *ngIf="role == 'Clinic'">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Clinic Name</label>
            <input type="text" placeholder="John Clinic" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>


          <div  *ngIf="role == 'Clinic'">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Clinic Manager Name</label>
            <input type="text" placeholder="John Doe" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div class="col-span-1 md:col-span-2" *ngIf="role == 'Clinic'">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Description</label>
            <input type="text" placeholder="The best clinic to do your checkup" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div *ngIf="role == 'Clinic'">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Supporting File 1</label>
            <input type="file" placeholder="Supporting File" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div *ngIf="role == 'Clinic'">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Supporting File 2</label>
            <input type="file" placeholder="Supporting File" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div *ngIf="role == 'Clinic'">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Logo</label>
            <input type="file" placeholder="Logo" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div *ngIf="role != 'Clinic'">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">First Name</label>
              <input type="text" placeholder="John" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div *ngIf="role != 'Clinic'">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Last name</label>
              <input type="text" placeholder="Snow" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div>
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Phone number</label>
              <input type="text" placeholder="XXX-XX-XXXX-XXX" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div>
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Email address</label>
              <input type="email" placeholder="johnsnow@example.com" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div class="col-span-1 md:col-span-2">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Address</label>
              <input type="text" placeholder="Enter your address" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div class="col-span-1 md:col-span-2">
            <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Username</label>
            <input type="text" placeholder="Enter your Username" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div class="col-span-1 md:col-span-2">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Password</label>
              <input type="password" placeholder="Enter your password" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div class="col-span-1 md:col-span-2">
              <label class="block mb-2 text-sm text-gray-600 dark:text-gray-200">Confirm password</label>
              <input type="password" placeholder="Confirm your password" class="block w-full px-5 py-3 mt-2 text-gray-700 placeholder-gray-400 bg-white border border-gray-200 rounded-md dark:placeholder-gray-600 dark:bg-gray-900 dark:text-gray-300 dark:border-gray-700 focus:border-blue-400 dark:focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
          </div>

          <div class="col-span-1 md:col-span-2">
            <a routerLink="/login" class="text-xs uppercase cursor-pointer text-[#179182] font-bold">Already have an account? Login Now</a>
          </div>

          <button
              class="flex items-center justify-between w-full px-6 py-3 text-sm tracking-wide text-white capitalize transition-colors duration-300 transform bg-[#179182] rounded-md hover:bg-[#179182] focus:outline-none focus:ring focus:ring-[#179182] focus:ring-opacity-50">
              <span>Sign Up </span>

              <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 rtl:-scale-x-100" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd"
                      d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                      clip-rule="evenodd" />
              </svg>
          </button>
        </div>
  </div>
